.header__box {
  align-items: center;
}
.header {
  position: relative;
  padding: 20px 28px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      max-width: 1386px;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      height: 1px;
      bottom: 0;
    }
  }
}
.mobile-nav__list,
.mobile-nav,
.nav-icon,
.mobile-nav-btn {
  right: 0;
  display: none;
}
.header__box {
  display: flex;
  gap: 16px;
  a {
    height: 16px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.logo {
  @media (max-width: 768px) {
    order: -1;
  }

  a {
    color: var(--text-color);
  }
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  font-family: var(--font-accent);
}
.header {
  // .header__bottom

  &__bottom {
    padding-top: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  // .header__nav

  &__nav {
  }

  // .header__list

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }

  // .header__item

  &__item {
  }

  // .header__link

  &__link {
    color: var(--accent);
    line-height: 22px;
  }
}
.header__btn-search {
  display: flex;
  align-items: center;
  a {
    width: 16px;
    height: 16px;
  }
  @media (max-width: 768px) {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .nav-icon,
  .mobile-nav-btn {
    display: block;
    position: relative;
  }
  .header__row::after {
    display: none;
  }
}
.header {
  // .header__pages

  &__pages {
    display: flex;
    justify-content: space-between;
  }

  // .header__pages-nav

  &__pages-nav {
  }

  // .header__pages-list

  &__pages-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-right: 47px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  // .header__pages-item

  &__pages-item {
  }

  // .header__pages-link

  &__pages-link {
    line-height: 22px;
    color: #726e8d;
  }
}
